
.fondNoir{
	background-color: #242424;
}

.imgFond2{
	background-image: url("../img/img 2.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    /*width: 100%;*/
    height: auto;
    border: none;
}

.imgFond4{
	background-image: url("../img/img 4.png");
	background-size: 100%;
    background-repeat: no-repeat;
    /*width: 100%;*/
    height: auto;
    border: none;
}


/* Fonts & Polices : */
@font-face {
    font-family: 'arista_2.0regular';
    src: url('Fonts/arista2.0-webfont.eot');
    src: url('Fonts/arista2.0-webfont.eot?#iefix') format('embedded-opentype'),
    url('Fonts/arista2.0-webfont.woff2') format('woff2'),
    url('Fonts/arista2.0-webfont.woff') format('woff'),
    url('Fonts/arista2.0-webfont.ttf') format('truetype'),
    url('Fonts/arista2.0-webfont.svg#arista_2.0regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.arista{
    font-family: 'arista_2.0regular';
}

@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('Fonts/MyriadProBoldCondensed.eot');
    src: local('MyriadProBoldCondensed'), url('Fonts/MyriadProBoldCondensed.woff') format('woff'), url('Fonts/MyriadProBoldCondensed.ttf') format('truetype');
}
.myriad {
    font-family: 'MyriadProBoldCondensed';
}

#page1 #listeProds img{
    width: 180px;
    height: 165px;
    border-radius: 16px;

}

.txtCentre{
    text-align: center;
}

.iconDimension{
    height: 40px;
    width: auto;
}

.myLink {
    text-decoration: none;
    background-color: "#fff";
}